#### LAmbda Function

In [1]:
greet = lambda name : print(f'Hello, {name}!')

greet("ALI")

Hello, ALI!

In [2]:
sq = lambda x: x**2
cb = lambda x: x**3

result = sq(5)
res = cb(5)

result , res

(25, 125)

In [3]:
import math

sq = lambda x: math.sqrt(x)

result = sq(9)
result

3.0

In [4]:
sq = [2, 4, 6, 7, 8, 9, 10]

sq_lam = lambda x: [x**2 for x in sq]

res = sq_lam(sq)
res

[4, 16, 36, 49, 64, 81, 100]

In [5]:
fis_1 = [2, 4, 6, 8, 10]
se_2 = [1, 3, 5, 7, 9]

sum_lam = lambda x, y: x + y

res = sum_lam(fis_1, se_2)
res

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

In [6]:
fis_1 = [2, 4, 6, 8, 10]
sec = [1, 3, 5, 7, 9]

fis_1.extend(sec)

res = fis_1
res

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

In [7]:
fis_1 = [2, 4, 6, 8, 10]
se_2 = [1, 3, 5, 7, 9]

sum_lam = lambda x, y: [i+j for i, j in zip(x, y)]

res = sum_lam(fis_1, se_2)
res

[3, 7, 11, 15, 19]

In [8]:
add_list = [2, 4, 6, 8]

add_list_item = lambda x : sum(x)


res = add_list_item(add_list)
print(type(res))
print(f'Sum: {res}, ')

<class 'int'>
Sum: 20,

In [9]:
add_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_num = lambda x : [x for x in add_list if x%2==0]

res = even_num(add_list)
print(type(res))

res

<class 'list'>

[2, 4, 6, 8, 10]

In [10]:
lin = [1, 2, 3, 4, 5, 6, 7]

even_odd = lambda x: [(i, 'even') if i % 2 == 0 else (i, 'odd') for i in x]

res = even_odd(lin)
res

[(1, 'odd'),
 (2, 'even'),
 (3, 'odd'),
 (4, 'even'),
 (5, 'odd'),
 (6, 'even'),
 (7, 'odd')]

In [ ]:
table = lambda x: [(f'{x}x{i}={x*i}') for i in range(11)]
table_ = table(5)
table_

In [11]:
lin = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

max_num = lambda x: max(x)

res = max_num(lin)
res

10

In [1]:
text = 'the>is*a(raw)teext'
raw_sym = ['*','&',':',';','<','>','?',')','(']

clean_text = lambda x: ''.join([i for i in text  if i not in raw_sym])

res = clean_text(text)
res

'theisarawteext'

In [2]:
list_num :list[int] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 
sq = lambda x: x**2 #[x**2 for x in list_num]
res = sq(2)

res

4

In [12]:
str_ = 'The is a string'
len_ = lambda x: len(x)
res = len_(str_)
res

15

In [5]:
num_: list[int] = [1, 2]
num__: list[int] = [1, 2]
# sum_ = lambda x, y: [x+y for x,y in (num_, num__)] # result 1 + 2 = 3, 2 + 1 = #
# sum_ = lambda x, y: [x+y for x in num_ for y in num__] # result 1 + 1 = 2, 2 + 1 = 3, 1 + 2 = 3, 2 + 2 = 4
# sum_ = lambda x, y: x+y # just concatenate list
# sum_ = lambda x, y: sum(x) + sum(y) # sum of all elements of the lists 1 + 2 + 1 + 2 = 6
sum_ = lambda x, y: x + y # sum of all elements of the lists 1 + 2 + 1 + 2 = 6
# sum_  = lambda x: sum(x) 

res: int = sum_(12 , 12)
res

24

In [14]:

from typing import Any

str_: list[str] = ["this", "is", "a", "simple", "text"]

upper_str: list[Any] = list(map(lambda x: str.upper(x), str_))

upper_str

['THIS', 'IS', 'A', 'SIMPLE', 'TEXT']

In [15]:
sq_list_: list[Any] = list(map(lambda x: x**2, list_num))

sq_list_

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
list_str :list[str] = ['Apple', 'str', 'Banana', 'Orange', 'Animal', 'Dog' , 'OK']
first_word_ :list[Any] = list(map(lambda x: x[0], list_str))

first_word_

['A', 's', 'B', 'O', 'A', 'D', 'O']

In [17]:
from functools import reduce

sum_list :list[Any] = reduce(lambda x,y: x+y, list_num)
sum_list

55

In [18]:
from functools import reduce

sum_list :list[Any] = reduce(lambda x,y: x*y, list_num)
sum_list

3628800

In [20]:
from functools import reduce


list_str_ :list[str] = ['This', 'is', 'a']
sec_str :list[str] = ['python', 'code']

sum_list :list[Any] = reduce(lambda x,y: x+y, (list_str_, sec_str))
sum_list

['This', 'is', 'a', 'python', 'code']

In [21]:
even_list :list[Any] = list(filter(lambda x: x if x%2==0 else '', list_num))
even_list

[2, 4, 6, 8, 10]

In [22]:
filter_list :list[Any] = list(filter(lambda x: x[0] in 'A', list_str))

filter_list

['Apple', 'Animal']

In [49]:
sort_list :list[Any] = sorted(list_str, key=lambda x: len(x), reverse=True)

sort_list

['Banana', 'Orange', 'Animal', 'Apple', 'Dog']

In [103]:
filter_by_vowel = list(filter(lambda x: [i for i in x if any(vowel in i.lower() for vowel in 'aeiou')], list_str))
filter_by_vowel

['Apple', 'Banana', 'Orange', 'Animal', 'Dog']

In [23]:
greater_ = list(filter(lambda x: x > 3 , list_num))
greater_

[4, 5, 6, 7, 8, 9, 10]

In [104]:

vowel = ['a', 'e', 'i', 'o', 'u']

for i in list_str:
    if any(vowel in i.lower() for vowel in vowel):
        print(i)

Apple
Banana
Orange
Animal
Dog