#### High Order Function `Map, Filter, Reduce, Any, all` with lambda and regular function

In [67]:
def return_sum(func, lit):
    results = 0

    for item in lit:
        if func(item):
            results = results + item
        
    return results

list_ = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

x = lambda i: i % 2 == 0
y = lambda i: i % 3 == 0
z = lambda i: i % 2 != 0

print(return_sum(x, list_))
print(return_sum(y, list_))
print(return_sum(z, list_))

30
18
25

In [68]:
a = [
    {'name': 'John', 'Father': 'ALi', 'age': 25},
    {'name': 'Alice', 'Father': 'khan', 'age': 30}
    ]

for i in range(len(a)):
    print(a[i]['name'], end='\t')
    print(a[i]['Father'])

John	ALi
Alice	khan

In [69]:
b = list(map(lambda a: [i for i in a.values()] , a))

b

[['John', 'ALi', 25], ['Alice', 'khan', 30]]

In [70]:
numbers = [1, 2, 3, 4, 5]
doubled = list(map(lambda x: x * 2, numbers))
print(doubled)

[2, 4, 6, 8, 10]

In [71]:
even_num = list(map(lambda x: ('even') if x % 2 == 0 else ('odd') , numbers))
even_num

['odd', 'even', 'odd', 'even', 'odd']

In [72]:
from collections import Counter
age = [23, 45, 67, 89, 90, 12, 34, 56, 78, 90, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
filter_ = list(map(lambda x: 'Child' if x < 18 else 
                   'Adult' if x >= 18 and x <= 30 else 
                   'Young' if x > 30 and x <= 45 else 'old', age))

tag = Counter(filter_)
tag

Counter({'Child': 9, 'old': 6, 'Adult': 4, 'Young': 2})

In [73]:
furit = ['apple', 'mango', 'orange', 'banana']

furit_ = list(map(lambda x : x  if 'g' in x else '', furit))
furit_

['', 'mango', 'orange', '']

In [74]:
a = [1, 2, 3]
b = [4, 5, 6]
summed = list(map(lambda x, y: (x, y), a, b))
print(summed)

[(1, 4), (2, 5), (3, 6)]

In [75]:
furit = ['apple', 'mango', 'orange', 'banana']

furit_ = list(filter(lambda x : x  if 'g' in x else '', furit))
furit_

['mango', 'orange']

In [76]:
from collections import Counter
age = [23, 45, 67, 89, 90, 12, 34, 56, 78, 90, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
filter_ = list(filter(lambda x:x if x < 18 else "", age))

# tag = Counter(filter_)
filter_

[12, 10, 11, 12, 13, 14, 15, 16, 17]

In [77]:
numbers = [1, 2, 3, 4, 5, 6]
evens = list(filter(lambda x: x % 2 == 0, numbers))
print(evens)

[2, 4, 6]

In [78]:
from functools import reduce

numbers = [1, 2, 3, 4]
product = reduce(lambda x, y: x * y, numbers)
print(product)

24

In [79]:
tuples = [1, 4, 5, 7, 9, 0]
sorted_tuples = sorted(tuples, key=lambda x: x)
print(sorted_tuples)

[0, 1, 4, 5, 7, 9]

In [80]:
numbers = [1, 2, 3, 4, 5]
any_greater_than_4 = any(map(lambda x: x % 2 == 0, numbers))
print(any_greater_than_4)

True

In [81]:
all_greater_than_0 = all(map(lambda x: x > 0, numbers))
print(all_greater_than_0)

True

In [82]:
#fobonacci series

def fibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

fibonacci(10)
print(list(fibonacci(10)))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [83]:
def fib(n):
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()
fib(10)

0 1 1 2 3 5 8

In [84]:
fobonacci_ = lambda n: [0, 1] + [fobonacci_(n-1)[i-1] + fobonacci_(n-1)[i-2] for i in range(2, n)]

print(fobonacci_(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [85]:
a, b = 0, 1
n = 10

while a < n:
    print(a, end=' ')
    a, b = b, a + b
print()

0 1 1 2 3 5 8

In [86]:
n = 6

for i in range(n+1):
    for j in range(i):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [87]:
n = 6
for i in range(n, 0, -1):
    for j in range(i):
        print('*', end=' ')
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [88]:
n = 6

for i in range(n):
    for j in range(6):
        print('*', end=' ')
    print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [89]:
n = 5

for i in range(n):
    for j in range(n - i - 1):
        print(' ', end=' ')
    for j in range(2 * i + 1):
        print('*', end=' ')
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [90]:
n = 5

for i in range(n):
    for j in range(i):
        print(' ', end=' ')
    for j in range(2 * (n - i) - 1):
        print('*', end=' ')
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [91]:
h =5

for x in range(h):
    print(" " * (h - x), "*" * (2*x + 1))
for x in range(h - 2, -1, -1):
    print(" " * (h - x), "*" * (2*x + 1))

      *
     ***
    *****
   *******
  *********
   *******
    *****
     ***
      *