Tuples in Python are similar to lists, but they are immutable, meaning their elements cannot be changed after creation. They are created using parentheses and can store different data types. 
Tuples are often used when the data should remain constant throughout the program. They're efficient #for representing fixed collections of values.
list vs tuple
1. list use square bracket while tuple use parenthesis
2. creating one item tuple is different from one item list

1. Tuples 2. create Tuples 3. Access elements of Tuples 4. Edit tuples 4. Add elements to tuples
5. Delete Tuples 6. Operations on Tuple 7. Functions on Tuples

In [1]:
# ceate an empty tuple
t= ()
t

()

In [2]:
# create a homogenous tuple, where items are of same data type
t2=(1,4,5,6,7)
t2

(1, 4, 5, 6, 7)

In [3]:
# create a heterogenous tuple where some items are of different types
t3=('Hello', 5,6)
t3

('Hello', 5, 6)

In [13]:
# create a 2d tuple
t4=(2,3,4,(5,6))
t4

(2, 3, 4, (5, 6))

In [7]:
# creating a single item tuple
t5=(5) # it is not a tuple, it is an integer
print(type(t5))

<class 'int'>

In [5]:
t5=(5,) # it is not a tuple, it is an integer
print(type(t5))

<class 'tuple'>

In [8]:
t5=("hello") # it is not a tuple, it is a string
print(type(t5))

<class 'str'>

In [5]:
t5= ("hello",) # it is now a single item tuple
print(type(t5))

<class 'tuple'>

In [6]:
# create a tuple using type conversion
t5= tuple("helllo") # it converts sring into tuple
t5

('h', 'e', 'l', 'l', 'l', 'o')

In [1]:
t45=(1,2,4,[3,45,6], ("ziaullah", 'atiq'))
t45

(1, 2, 4, [3, 45, 6], ('ziaullah', 'atiq'))

In [10]:
# create a tuple from list
t6= tuple([4,5,6,7,9,10])
t6

(4, 5, 6, 7, 9, 10)

In [2]:
lst=[]
lst.append('ali')
lst.append(21)
lst.append('Peshawar')
personalinfo=(name, age, address)
personalinfo

('ali', 21, 'Peshawar')

In [ ]:
lst=[]
for i in range(3):
    lst[i].append(input('enter your data'))
personalinfo=(lst)
personalinfo

In [4]:
t0=()
print(id(t0))
t0=t0+('ziaullah', 'hangu')
t0
print(id(t0))

140719279400632
2011843315008

In [6]:
t11=()
lst= list(t11)
lst.append('zia')
lst.append('maqsood')
lst.append('uzair')
lst
t11=tuple(lst)
t11

('zia', 'maqsood', 'uzair')

In [8]:
# Access items from a tuple
t11[0]

'zia'

In [9]:
t11[-1]

'uzair'

In [11]:
t6[:4] # Access first 4 items from tuple

(4, 5, 6, 7)

In [14]:
t4

(2, 3, 4, (5, 6))

In [12]:
t4[-1][1]

6

In [13]:
# tuples just like string are immutable means tuples can not be changed once created, while list is mutable
t4[0]=300

TypeError: 'tuple' object does not support item assignment

In [ ]:
# can you add new item to the existing tuple, the answer is No, reason: tuples are immutable

In [19]:
t2=(2,3,4)

In [20]:
# deleting tuple
del t2  # it wil delete the entire tuple

In [15]:
# we can delete a part or item of the tuple becos tuples are immutable
del t4[-1]

TypeError: 'tuple' object doesn't support item deletion

In [16]:
# operations on tuples: concatenation, multipicaiton, loop via tuple, in membership operator
t4+t6

(2, 3, 4, (5, 6), 4, 5, 6, 7, 9, 10)

In [17]:
t6*3

(4, 5, 6, 7, 9, 10, 4, 5, 6, 7, 9, 10, 4, 5, 6, 7, 9, 10)

In [18]:
for i in t6:
    print(i)

4
5
6
7
9
10

In [19]:
8 in t6

False

In [20]:
# functions available for tuple
len(t6)

6

In [21]:
min(t6)

4

In [22]:
max(t6)

10

In [23]:
sum(t6)

41

In [21]:
sorted(t6) # returns a list

[4, 5, 6, 7, 9, 10]

In [26]:
sorted(t6, reverse=True)

[10, 9, 7, 6, 5, 4]

In [ ]:
# Tuples are read-only datatype and are used in scenarios where data integrity is important.
for example: you are web developer publishing results of CS dept. your brother got admission in stat but interested in CS.
He was conditioned to get 3.8 in 1st semester in order to get admission in CS dept. but unforunately he could  not. Now he requested 
brother to do something, if the data from database is in tuple, then his brother would not be able to change data as tuples are immutable
otherwise editing in list in possible